.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b9b4c7;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #c0acf0 0%,
    #f8f8f8 25%,
    #c0acf0 50%,
    #f8f8f8 75%,
    #c0acf0 100%
  );
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}
/* Button */
button {
    --color: #560bad;
    font-family: Arial, sans-serif;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    background-color: var(--color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(135deg, var(--color) 0%, #f800ff 100%);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s, opacity 0.3s;
  }
  
  button:hover {
    background-color: #030446;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  button:hover:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  
  button:active {
    background-color: #3a0ca3;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0s;
  }
  
  /* .Owner */
  .Owner {
    text-align: center;
    background-color: #f0f0f0;
    color: #560bad;
    position: relative;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 2px solid var(--color);
    height: 100px;
    width: 500px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-size: large;
    font-weight: bold;
    align-items: center;
    padding-top: 20px;
  }
  
  .Owner:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .Owner:before {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    z-index: -1;
    background: linear-gradient(135deg, #560bad 0%, #f800ff 100%);
    height: 140%;
    width: 140%;
    border-radius: 50%;
    opacity: 0.4;
    transform: scale(0);
    transition: transform 0.5s, opacity 0.3s;
  }
  
  .Owner:hover:before {
    transform: scale(1);
    opacity: 0.8;
  }
  